.textarea {
  border-bottom-left-radius: 1em;
}

ul {
  padding: 0;
  background: #80808038;
  margin: 0;
  max-height: 16em; //4 items
  overflow-y: auto;
  li {
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 1em;
    &.active {
      background-color: #adadadad;
    }
    p {
      margin: 0;
      &.avatar {
        background: #b39863;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
      &.fullname {
        font-weight: bold;
      }
      &.username {
        color: gray;
      }
    }
  }
}

.mirror {
  opacity: 0.5;
  background: wheat;

  word-wrap: break-word;
  overflow: hidden;
}
